altgraph==0.17
aniso8601==9.0.1
api==0.0.7
appdirs==1.4.4
attrs==21.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
clickclick==20.10.2
colorama==0.4.4
connexion==1.1.15
defusedxml==0.7.1
distlib==0.3.1
driver==0.1.0
filelock==3.0.12
Flask==2.0.1
Flask-Cors==3.0.10
flask-restplus==0.13.0
flask-restx==0.4.0
flask-swagger==0.2.14
flask-swagger-ui==3.36.0
FlaskPlus==0.9
future==0.18.2
gunicorn==20.1.0
idna==2.10
inflection==0.5.1
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsonify==0.5
jsonschema==3.2.0
lxml==4.6.3
MarkupSafe==2.0.1
nanodb==0.4.3
nanodb-driver==0.0.3
nose==1.3.7
numpy==1.20.3
pefile==2021.5.24
phantomjs==1.4.1
pycep-correios==5.0.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pymongo==3.11.4
pyrsistent==0.17.3
python-dateutil==2.6.0
pytz==2021.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
pyzmq==22.0.3
requests==2.25.1
requests-file==1.5.1
requests-toolbelt==0.9.1
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
swagger-client==1.0.0
swagger-spec-validator==2.7.3
ujson==4.0.2
urllib3==1.26.5
virtualenv==20.4.6
Werkzeug==2.0.1
zeep==4.0.0
